@600: 600px;
section{
    padding: clamp(10px, 5vw, 70px);
}
section.login{
    width: 100%;
    max-width: @600 * 2;
    height: 100%;
    max-height: @600;
    background: white;
}
section.left, section.right{
    max-height: @600;
}
section.right{
    display: none;
}
h1{
    font-size: clamp(24px, 3vw, 48px);
    text-shadow: var(--basic-shadow);
}