<form nz-form
[formGroup]="form" (ngSubmit)="signIn(form.value)">
    <nz-spin [nzSpinning]="isLoading">
    <div nz-row nzJustify="center">
        <h1 nz-typography>Войти</h1>
    </div>
    <nz-form-item>
        <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUserTpl">
            <input nz-input 
            formControlName="userName" 
            id="userName"
            placeHolder="Имя пользователя"/>
        </nz-input-group>
        <ng-template #prefixUserTpl><i nz-icon nzType="user" nzTheme="outline"></i></ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
        <nz-input-group [nzPrefix]="prefixPasswordTpl" >
            <input nz-input 
            
            type="password"
            formControlName="password" 
            id="password" 
            placeholder="Пароль"
            />
        </nz-input-group>
        <ng-template #prefixPasswordTpl><i nz-icon nzType="lock" nzTheme="outline"></i></ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control >
        <button nz-button 
        nzType="primary" 
        [disabled]="!form.valid"
        nzBlock="true">  
        <i nz-icon nzType="login" nzTheme="outline"></i>Войти</button>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
        <nz-divider [nzText]="text">
            <ng-template #text>
            <a  [routerLink]="[ '/register' ]" routerLinkActive="active" >
                Зарегистрироваться
            </a>
            </ng-template>
        </nz-divider>
        </nz-form-control>
    </nz-form-item>
    <div nz-row nzJustify="center"> 
        <a  [routerLink]="[ '/' ]" routerLinkActive="active" >
            <small>Вернуться на главную</small>
        </a>
    </div>            
</nz-spin>
</form>