<section class="login">
        <form [formGroup]="form" (ngSubmit)="signIn(form.value)">
            <h1>Войти</h1>
            <label for="login">Логин:</label>
            <input required formControlName="userName" id="login" type="text" placeholder="Имя пользователя">
            <label for="password">Пароль:</label>
            <input required formControlName="password"  id="password" type="password" placeholder="******">
            <button [disabled]="!form.valid">войти</button>
        </form>
        <footer>
            <span>или</span>
            <a [routerLink]="['/register']">Зарегистрироваться</a>
        </footer>
</section>