<h3 nz-typography>Результаты поиска: <span nz-typography nzType="secondary">{{searchResult?.searchRequest | lowercase}}</span></h3>
<div class="wrap">
    <div class="adverts">
        <div сlass="adverts-item" *ngFor="let item of searchResult?.advertsByLocality">
            <app-advert-card [item]="item"></app-advert-card>
        </div>
    </div>
    <div class="loadmore" nz-list-load-more>
      <button nz-button *ngIf="isShowMoreButton" (click)="onLoadMore()">Загрузить еще</button>
    </div>
</div>