[nz-form] {
    max-width: 600px;
}
.global-search-item {
  display: flex;
}

.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
[nz-upload-btn]{
  display: block;
}