<div class="adverts">
    <div сlass="adverts-item" *ngFor="let item of list">
        <div class="card">
            <div class="card-image loading" >
                <app-price [prices]="item.prices"></app-price>
                <img #cardImage width="250" height="250"
                [alt]="item.yandexAddress.geoObject.name"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                data-src="{{'/img/250/' + item.images[0]?.fileName}}"/>
            </div>
            <div class="card-info">
                <div class="card-top">
                    <span>{{ item.created | dateAgo }}</span>
                </div>
                <div class="card-bottom" >
                    <span class="card-bottom-main">{{ item.yandexAddress.geoObject.metaDataProperty.geocoderMetaData.address.components[3].name }}</span>
                    <span class="card-bottom-secondary">{{ item.yandexAddress.geoObject.name }}</span>
                </div>
                <a class="link" [routerLink]="[ '/adverts', item.id ]">посмотреть</a>
            </div>
        </div>
    </div>
</div>
