@250: 250px;
.adverts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 2em;
    column-gap: 1em;
    padding: 0 2em;
    font-size: 14px;
}
.card{
    width: @250;
    height: 350px;
    background: white;
    position: relative;
    box-shadow: var(--basic-shadow);
    app-price{
        position: absolute;
        top: 1em;
        background: var(--orange);
    }
    &-top{
        padding: .5em 1em 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }
    &-image{
        width: @250;
        height: @250;
        img{
            width: @250;
            height: @250; 
        }
    }
    &-bottom{
        padding: 0 1em;

        color: var(--black);
        display: flex;
        flex-direction: column;
        &-main{
            font-weight: bold;
        }
        &-secondary{
            font-size: 12px;
        }
        > span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
a.link{
    color: white;
    text-decoration: none;
    background: var(--orange);
    padding: .5em 1em;
    text-align: center;
    transition: all .3s ease-in-out;
    &:hover{
        background: #ffa75a;
        text-decoration: underline;
    }
}
.card-info{
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
}