<nz-card
    [nzExtra]="extraTpl"
    nzSize="default"
    style="width: 100%;max-width: 250px;"
    nzHoverable="true"
    [nzCover]="coverTpl"
    [nzTitle]="priceTpl"
    [nzActions]="[viewAction]">
    <nz-card-meta 
        [nzTitle]="cardMetaTitleTpl" 
        [nzDescription]="descriptionTpl">
    </nz-card-meta>
</nz-card>
<ng-template #priceTpl>
    <app-price [prices]="item.prices"></app-price>
</ng-template>
<ng-template #descriptionTpl>
    <span>{{ item.yandexAddress.geoObject.metaDataProperty.geocoderMetaData.address.components[3].name }}</span>
</ng-template>
<ng-template #cardMetaTitleTpl>
    <span>{{ item.yandexAddress.geoObject.name }}</span>
</ng-template>
<ng-template #extraTpl>
    {{ item.created | date : 'shortDate' : '' : 'ru' }}
</ng-template>
<ng-template #coverTpl>
    <img style="width: 250px;height: 250px;" [alt]="item.yandexAddress.geoObject.name" [src]="item.images[0]?.small"/>
</ng-template>
<ng-template #viewAction>
    <span (click)="onCardClick(item)">Посмотреть</span>
</ng-template>