<div class="wrap">
    <div class="cabinet">
        <div class="cabinet-item">
            <h4 nz-typography>Мои объявления</h4>
            <div class="cabinet-item-list">
                <div *ngFor="let advert of adverts" class="cabinet-item-list-element">
                    <div>
                        {{advert.address.geoObject.name}}
                    </div>
                    <pre>{{advert | json}}</pre>
                </div>
            </div>
        </div>
    </div>
    <button nz-button nzBlock nzType="text" (click)="onLogOut()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>Выход
    </button>    
</div>
