
<form nz-form [formGroup]="form">
    <nz-form-item >
        <h2 nz-typography>Добавить объявление</h2>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Адрес</nz-form-label>
        <nz-form-control [nzSpan]="17">
            <input 
            placeholder="Например, Лермонтова 2 Несвиж" 
            #input
            nz-input 
            formControlName="address" 
            (input)="geocoderService.onSearch(input.value)" 
            [nzAutocomplete]="auto" />
                <nz-autocomplete #auto>
                    <nz-auto-option 
                    class="global-search-item" 
                    *ngFor="let option of geocoderService.optionList" 
                    [nzValue]="option" 
                    [nzLabel]="option.GeoObject.name + ' ' +  option.GeoObject.description">
                        <span class="global-search-item-desc">
                            {{ option.GeoObject.name + ' ' +  option.GeoObject.description }}
                        </span>
                    </nz-auto-option>
                </nz-autocomplete>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Фото</nz-form-label>
        <nz-form-control >
            <nz-upload   
            nzAction="{{imageService.uploadURL}}"
            [nzHeaders]="imageService.headers"
            [nzTransformFile]="imageService.transformFile"
            [nzBeforeUpload]="imageService.beforeUpload"
            [nzRemove]="onDelete"
            [nzShowUploadList]="imageService.showUploadList"
            [nzFileList]="imageList"
            [nzShowButton]="imageList.length < 8"
            [nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
            nzFileType="image/png,image/jpeg,image/gif,image/jpg"
            (nzChange)="onUploadChange($event)"
            [nzListType]="'picture'"
            >
            <a [nzBlock]="'true'" nz-button>
                <i nz-icon nzType="upload" nzTheme="outline"></i>
                Загрузите изображение
            </a>
            <p><small>Максимальный размер фото 5mb.</small>
            </p>
            </nz-upload>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item 
    formArrayName="prices"
    *ngFor="let control of form.controls['prices']['controls']; let i = index">
        <nz-form-label [nzSpan]="7" nzRequired  *ngIf="i == 0">Цена</nz-form-label>
        <nz-form-label 
        [nzSpan]="7" 
        nzNoColon="true" 
        *ngIf="i > 0">
        </nz-form-label>
        <nz-form-control 
        [nzSpan]="17" 
        [nzOffset]="i >= 0 ? '0':'7'">
            <app-price-input 
            [price]="form.controls['prices']['controls'][i].value"
            ></app-price-input>
            <a *ngIf="i !== 0 "
            nz-button 
            (click)="onRemovePrice(i)"
            nzType="link" nzDanger><i nz-icon nzType="delete"></i>
            </a>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-control [nzOffset]="7" >
            <a  [disabled]="isDisabledAddPriceButton"
                (click)="onAddPrice()"
                nz-button 
                nzType="dashed"><i nz-icon nzType="plus"></i>Добавить цену
            </a>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item 
    formArrayName="areas"
    *ngFor="let control of form.controls['areas']['controls']; let i = index">
        <nz-form-label [nzSpan]="7" nzRequired  *ngIf="i == 0">Площадь</nz-form-label>
        <nz-form-label [nzSpan]="7" nzNoColon="true" *ngIf="i > 0"></nz-form-label>
        <nz-form-control 
        [nzSpan]="17" 
        [nzOffset]="i >= 0 ? '0':'7'">
            <app-area-input 
            [area]="form.controls['areas']['controls'][i].value"
            ></app-area-input>
            <a *ngIf="i !== 0 "
            nz-button 
            (click)="onRemoveArea(i)"
            nzType="link" nzDanger><i nz-icon nzType="delete"></i>
            </a>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-control [nzOffset]="7" >
            <a  [disabled]="disabledAddAreaFieldButton"
                (click)="onAddArea()"
                nz-button 
                nzType="dashed"><i nz-icon nzType="plus"></i>Добавить площадь
            </a>
        </nz-form-control>
    </nz-form-item>
    
    <!-- <nz-form-item [formGroup]="form.get('contact')" >
        <nz-form-label [nzSpan]="7" nzRequired>Телефон</nz-form-label>
        <nz-form-control [nzSpan]="7">
            <input 
            formControlName="phone" 
            nz-input 
            [placeholder]="80295353535"/>
        </nz-form-control>
    </nz-form-item> -->
    <nz-form-item [formGroup]="form.get('description')">
        <nz-form-label [nzSpan]="7" nzRequired>Описание</nz-form-label>
        <nz-form-control [nzSpan]="17">
            <textarea 
            formControlName="value" 
            placeholder="Добавьте комментарий"
            [nzAutosize]="{ minRows: 4, maxRows: 6 }"
            nz-input></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control >
            <button [nzBlock]="'true'"
            nz-button 
            nzType="primary" 
            (click)="submitForm()" 
            [disabled]="!form.valid">
                Добавить
            </button>
        </nz-form-control>
    </nz-form-item>
</form>
<pre>{{ form.value | json }}</pre>