<form [formGroup]="form">
    <h3>Добавить объявление</h3>
    <div class="form-item ">
        <label for="address">Адрес:</label>
        <div class="address">
            <input #input 
            type="text" 
            list="addressList" 
            name="address" 
            autocomplete="off"
            placeholder="Лермонтова 2, Несвиж"
            (input)="geocoderService.onSearch(input.value)">
            <button 
            *ngIf="input.value" 
            (click)="input.value = ''">x</button>
            <div *ngIf="geocoderService.optionList?.length > 0" class="list">
                <div
                (click)="onDataClick(option, input);"
                class="data"
                *ngFor="let option of geocoderService.optionList">
                    <div class="main">
                        {{ option.GeoObject.name }}
                    </div>
                    <div class="secondary">
                        {{ option.GeoObject.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-item">
        <label for="price">Цена:</label>
        <div class="price">
            <div 
            formArrayName="prices"
            *ngFor="let control of form.controls['prices']['controls']; let i = index">
                <app-price-input [price]="form.controls['prices']['controls'][i].value"></app-price-input>
                <button 
                [disabled]="i == 0 "
                (click)="onRemovePrice(i)">удалить
                </button>
            </div>
        </div>
        <button 
        [disabled]="isDisabledAddPriceButton"
        (click)="onAddPrice()"
        >Добавить цену</button>
    </div>
    <div class="form-item">
        <label for="contacts">Контакты:</label>
        <div class="contacts">
            <div 
            formArrayName="contacts"
            *ngFor="let control of form.controls['contacts']['controls']; let i = index">
                <app-contact-input
                [contact]="form.controls['contacts']['controls'][i].value"
                ></app-contact-input>
                <button [disabled]="i == 0"
                    (click)="onRemoveContact(i)">удалить
                </button>
            </div>
        </div>
        <button 
        [disabled]="disabledAddContactFieldButton"
        (click)="onAddContact()">Добавить контакт
        </button>
    </div>
    <div class="form-item">
        <label for="areas">Площадь:</label>
        <div class="areas">
            <div 
            formArrayName="areas"
            *ngFor="let control of form.controls['areas']['controls']; let i = index">
                <app-area-input
                [area]="form.controls['areas']['controls'][i].value"></app-area-input>
                <button 
                [disabled]="i == 0"
                (click)="onRemoveArea(i)">удалить
                </button>
            </div>
        </div>
        <button 
        [disabled]="disabledAddAreaFieldButton"
        (click)="onAddArea()">Добавить площадь
        </button>
    </div>
    <div class="form-item">
        <label for="description">Описание:</label>
        <div class="description" [formGroup]="form.get('description')">
            <textarea id="description"
            formControlName="value" 
            placeholder="Хороший дом, в хорошем месте"
            ></textarea>
        </div>
    </div>
    <div class="form-item">
        <input 
        (change)="onSelectFile(imageInput.files)" 
        type="file" style="display: none;" 
        #imageInput 
        name="imageUpload" 
        id="imageUpload">
        <button (click)="imageInput.click()">Загрузить фото</button>
        <div class="images">
            <img [src]="preview" width="30" height="30" *ngFor="let preview of previewImgs">
        </div>
    </div>
    <div class="form-item submit">
        <button 
        (click)="submitForm()" 
        [disabled]="!form.valid">
            Добавить Объявление
        </button>
    </div>
</form>