<div class="wrap">
    <div class="advert" *ngIf="advert">
        <div class="advert-header">
            <div class="advert-header-item">
                <a nz-button nzType="text" (click)="onBack()"><i nz-icon nzType="arrow-left" nzTheme="outline"></i></a>
                <span class="advert-header-item-address" nz-typography><strong>{{advert.yandexAddress.geoObject.name}}</strong></span>
            </div>
            <div class="advert-header-item">
                <app-price [prices]="advert.prices"></app-price>
            </div>
            <div class="advert-header-item">
                <span nz-typography>{{advert.created | date : 'shortDate' : '' : 'ru'}}</span>
            </div>
        </div>
        <div class="advert-info">
            <div class="advert-info-item">
                <app-image-slider *ngIf="images" [images]="images"></app-image-slider>
            </div>
            <div class="advert-info-item">
                <div class="advert-info-item-buttons">
                    <button nz-button  (click)="onShowMap()">
                        <i nz-icon  nzType="environment" nzTheme="outline"></i>
                        Открыть карту
                    </button>
                    <app-contacts-view [contacts]="advert.contacts"></app-contacts-view>
                </div>
            </div>
        </div>
        <div class="advert-footer">
            <div class="advert-footer-item">
                <span nz-typography nzType="secondary">{{ advert.yandexAddress.geoObject.description }}</span>
            </div>
            <div class="advert-footer-item text">
                {{ advert.description.value }}
            </div>
        </div>
    </div>
</div>