section.advert{
  color: var(--black);
  .street, header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header{
    height: 100%;
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    a{
      padding: .5em .5em .5em 0;
      color: #999;
      display: block;
      font-weight: bold;
      font-size: 1.5em;
      &:hover{
        color: var(--black);
      }
    }
    app-price{
      background: var(--orange);
    }

  }
  footer{
    width: 100%;
    max-width: 600px;
    h3{
      padding: .5em .5em .5em 0;
    }
  }
  main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .btns{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    
  }
}
@media (max-width: 800px){
  section.advert{
    app-image-slider{
      margin-bottom: 1em;
    }
    main{
      flex-direction: column;
      justify-items: center;
    }
  }
  
}