<section class="footer">
    <article>
        <div>
            <div class="logo" 
            aria-label="logo" 
            [removeSVGAttributes]="['fill', 'width', 'height']"
            [inlineSVG]="'../../../assets/logo.svg'"></div>
            <p>2019-{{currentYear}}</p>
        </div>
        
    </article>
    <article>
        <ul>
            <li>Объявления</li>
            <li>Личный кабинет</li>
            <li>Добавить объявление</li>
        </ul>
        <ul>
            <li>О проекте</li>
            <li>Блог</li>
        </ul>
    </article>
</section>