<section class="top">
    <article class="cta">
        <p #cta_subhead>Объявления от собственника</p>
        <h1 #cta_h1>Купить дом с нами просто!</h1>
        <a #cta_action href="#">посмотреть</a>
    </article>
    <article>
        <div #whole_card class="whole-card">
            <div #card class="card">
                <div #card_top class="card-top">
                    <div #card_icon class="card-top-icon"></div>
                </div>
                <div class="card-bottom">
                    <div class="card-bottom-blips">
                        <div #card_blip1 class="blip-main"></div>
                        <div #card_blip2 class="blip1"></div>
                        <div #card_blip3 class="blip2"></div>
                    </div>
                    <div class="card-bottom-btns">
                        <div #card_blip4 class="card-bottom-btns-item"></div>
                        <div #card_blip5 class="card-bottom-btns-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>