#svg_img{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    .cta{
        display: flex;
        flex-direction: column;
        row-gap: .5em;
        align-items: center;
        z-index: 1;
        margin-top: 17em;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(2px);
        h1{
            
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            padding: 10px 40px;
            text-shadow: var(--basic-shadow);
            text-transform: uppercase;
            line-height: 110%;
        }
        a{
            color: #fff;
            padding: 25px 65px;
            border: none;
            outline: none;
            font-weight: 700;
            box-shadow: var(--basic-shadow);
            background: var(--orange);
            text-transform: uppercase;
        }
        p{
            font-size: 14px;
            font-weight: 300;
        }
    }
    svg{
        position: absolute;
        top: -23%;
        left: -32%;
        width: 150%;
        z-index: -1;
        transform: rotate(35deg);
    }
}