.home{
  display: flex;
  align-items: center;
  &-logo{
    height: auto;
    width: 65%;
  }
}
@media(max-width: 768px){
  .home{
    flex-direction: column-reverse; 
    &-info{
      text-align: center;
    }
  }
}