<section class="home">
    <article>
        <div class="square-point"></div>
        <h1>Найдите место, которое сможете назвать своим домом!</h1>
        <p>Большое количество актуальных объявлений от владельцев, среди которых легко выбрать то, что нужно именно вам!</p>
        <button class="big-btn">посмотреть</button>
    </article>
    <article>
        <div class="square-point"></div>
        <h1>Добавьте свое объявление</h1>
        <p>загрузите фото, укажите цену и ваши контакты</p>
        <button class="big-btn">добавить</button>
    </article>
    <article>
        <div class="square-point"></div>
        <h1>О нас:</h1>
        <ul>
            <li>все бесплатно</li>
            <li>ничего лишнего</li>
        </ul>
    </article>
</section>