#svg_img{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
    overflow: hidden;
    svg{
        position: absolute;
        top: -35%;
        left: -32%;
        width: 150%;
        z-index: 0;
        transform: rotate(35deg);
    }
}
.content{
    text-align: center;
}