@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
:root{
    --black: #36382E;
    --red: #F06449;
    --orange: #FF9B42;
    --gray:#F5F3F5;
    --basic-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
    background-color: #e2e2e2;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}
button, input[type=text], input[type=password],input[type=number], select {
  font-family: 'Montserrat', sans-serif;
}
.text{
  font-size: 14px;
  font-family: 'Roboto', sans-serif; 
}
.container{
    padding: 0 40px;
}
h1, h3{
  color: var(--black);
}
a{
  transition: all .3s;
  cursor: pointer;
}
header{
    height: 120px;
    background: #fff;
    box-shadow: var(--basic-shadow);
    z-index: 1;
}

ul{
  list-style-type: none;
}
app-login, app-register,  app-adverts, app-cabinet{
  display: grid;
  place-content: center;
  padding: 3em 0;
  min-height: ~"calc(100vh - 120px)";
}
app-advert, app-add{
  margin: 2em auto;
  width: 100%;
  max-width: 960px;
  background: white;
  padding: 1em;
  display: block;
  min-height: ~"calc(100vh - 120px)";
  box-shadow: var(--basic-shadow);
}
app-price{
  display: flex;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}