:root{
    --color-dark: #3D3B3C;
    --color-dark-hover: lighten(#3D3B3C, 5%);
    --color-dark-active: lighten(#3D3B3C, 10%);
    --color-darken: #323031;
    --color-light: #C1BDB3;
    --color-lighten: #e4e4e4;
    --default-transition: all .3s;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}
body{
    background-color: var(--color-dark);
}
.container{
    padding: 0 20px;
}
// animations
@keyframes move-light{
    from {
        transform: translateX(-3em) skewX(-45deg);
    }
    to {
        transform: translateX(5em) skewX(-45deg);
    }
}
@keyframes btn-scale{
    from{
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.05, 1.05);
    }
}
// elements style
button{
    cursor: pointer;
        border: 0;
        outline: none;
        overflow: hidden;
}

header{
    z-index: 1;
    background-color:var(--color-darken);
    box-shadow: 4px 0px 4px 4px #000;
}

.header{
    height: 80px;
    background-color:var(--color-darken);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button{
        
        transition: var(--default-transition);

        &:before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 20px;
            height: 100%;
            background: rgba(#fff, 0.3);
            transform: translateX(-4em) skewX(-45deg);
        }
        &:hover{
            &:before{
                animation: move-light .8s ease-in-out;
            }
        }
        &:active{
            animation: btn-scale .1s ease-in-out;
        }
    }
    &-menu-btn{
        height: 40px;
        width: 40px;
        border-radius: 3px;
        position: absolute;
        right: 20px;
        background: var(--color-dark);
        &:hover{
            background: var(--color-dark-hover);
        }
        &:active{
            background: var(--color-dark-active);
        }
    }
}
.logo{
    display: grid;
    cursor: pointer;
    fill: var(--color-light);
    transition: var(--default-transition);
    width: 160px;
    &:hover{
        fill: var(--color-lighten);
    }
}
.square-point{
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: var(--color-darken);
}
section.home {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: var(--color-light);
        padding-top: 20px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: .2em;
    }
    p{
        color: #bab3b3;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;
    }
    button.big-btn{
        text-transform: uppercase;
        background: var(--color-darken);
        font-size: 16px;
        border-radius: 3px 0px 0px 3px;
        color: #E4E4E4;
        line-height: 18px;
        padding: 20px 114px;
    }
}
