<section class="register">
    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <h1>Регистрация</h1>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
            class="alert">
            <div *ngIf="userName.errors.duplicated">
                Имя занято!
            </div>
        </div>
        <input formControlName="userName" type="text" id="userName"  placeHolder="Имя пользователя">
        <input formControlName="password" type="password" id="password"
        placeholder="Пароль">
        <button [disabled]="!form.valid">Зарегистрироваться</button>
    </form>
    <a [routerLink]="['/home']">На главную</a>
</section>