<div class="wrap">
    <form nz-form
          [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <nz-spin [nzSpinning]="isLoading">
            <div nz-row nzJustify="center">
                <h1 nz-typography>Регистрация</h1>
            </div>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzValidatingTip="Проверка..." [nzErrorTip]="userErrorTpl">
                    <nz-input-group  [nzPrefix]="prefixUserTpl">
                        <input nz-input  nzBorderless
                               formControlName="userName"
                               id="userName"
                               placeHolder="Имя пользователя"
                        />
                        <ng-template #userErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('duplicated')">
                                Имя уже занято!
                            </ng-container>
                        </ng-template>
                    </nz-input-group>
                    <ng-template #prefixUserTpl><i nz-icon nzType="user" nzTheme="outline"></i></ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixPasswordTpl">
                        <input nz-input nzBorderless
                               type="password"
                               formControlName="password"
                               id="password"
                               placeholder="Пароль"
                        />
                    </nz-input-group>
                    <ng-template #prefixPasswordTpl><i nz-icon nzType="lock" nzTheme="outline"></i></ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control >
                    <button
                            nz-button
                            nzType="primary"
                            [disabled]="!form.valid"
                            nzBlock="true">Регистрация</button>
                </nz-form-control>
            </nz-form-item>
            <hr>
            <div nz-row nzJustify="center">
                <a nz-button nzType="link" [routerLink]="[ '/' ]" >
                    Вернуться на главную
                </a>
            </div>
        </nz-spin>
    </form>
</div>
