<div>
    <a [routerLink]="[ '/' ]" class="logo-brand" ><strong>Halupa.by</strong></a>
</div>
<ul>
    <li >
        <a [routerLink]="[ '/adverts' ]">Объявления</a>
    </li>
</ul>
<button nz-button nzType="primary" nzShape="round" [routerLink]="[ '/add' ]">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Добавить объявление
</button>
<nz-divider nzType="vertical"></nz-divider>
<ng-container *ngIf="_authService.isLogedIn() | async; then privateTpl else publicTpl"></ng-container>
<ng-template #privateTpl>
    <button nz-button nzType="primary" nzShape="circle" [routerLink]="[ '/cabinet' ]" >
        <i nz-icon nzType="user" nzTheme="outline"></i>
    </button>
</ng-template>
<ng-template #publicTpl>
    <button nz-button nzType="primary" nzShape="circle" [routerLink]="[ '/login' ]">
        <i nz-icon nzType="login" nzTheme="outline"></i>
    </button>
</ng-template>