nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
    background: var(--red);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    text-transform: uppercase;
    box-shadow: var(--basic-shadow);
}
.app-menu{
    &-item{
        display: block;
        margin-bottom: 5px;
        background-color: var(--black);
        box-shadow: var(--basic-shadow);
        width: 10px;
        height: 10px;
        cursor: pointer;
    }
}