nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.logo{
    background: var(--red);
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    text-transform: uppercase;
    box-shadow: var(--basic-shadow);
    cursor: pointer;
    outline: none;
}
.app-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    transition: all .5s;
    cursor: pointer;

    &:hover{
        // switch this by js - important to working after clicks
        transform: rotate(90deg) !important;
    }
    &-item{
        place-items: flex-end;
        display: block;
        margin: 0 20px 5px 20px;
        background-color: var(--black);
        box-shadow: var(--basic-shadow);
        width: 10px;
        height: 10px;
    }
}
.navigation{
    z-index: 10;
    background: var(--gray);
    position: absolute;
    width: 100%;
    text-align: center;
    box-shadow: var(--basic-shadow);
    li{
        outline: none;
        a{
            width: 100%;
            display: block;
            text-decoration: none;
            height: 100%;
            color: var(--gray);
            padding: 1em 0;
            color: var(--black);
            &:hover{
                color: black;
            }
        }
    }
}
#nav-links{
    display: none;
}