div{
    margin-right: auto;
    .logo-brand{
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    li{
        line-height: 60px;
        height: inherit;
        padding: 0 20px 0;
        color: #fff;
        &:last-child{
            margin-right: 24px;
        }
    }
    li:hover, li:active {
        border-bottom: 2px solid #81D4FA;
        cursor: pointer;
    }
}